.thumbnail_box {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.thumbnail_img {
  border-radius: 8px;

  // 기본 이미지 로드 시 사용자 경험을 위해서 뚝딱이지 않고 부드럽게 표현
  opacity: 0;
  transition: opacity 0.3s;

  &::before {
    content: attr(alt);
    visibility: hidden;
  }
}

.load {
  opacity: 1;
}
