.input_form {
  width: 100%;
}

.label {
  display: flex;
  gap: 0.5rem;

  padding: 0.75rem 1rem;

  border: 1px solid #eee;
  border-radius: 4px;
}

.input {
  margin-left: auto;

  min-width: 70%;

  outline: none;
  border: none;
}

.errorField {
  color: red;
}
