.btn_wrapper {
  display: flex;

  margin: 1rem;
}

.card_wrapper {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 1.5rem;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 1rem;
}

.card {
  position: relative;
  // pointer-events: none;
}

.check {
  position: absolute;
  z-index: 22;

  top: 12px;
  right: 12px;

  cursor: pointer;
}

.favorite_icon {
  position: absolute;

  right: 0;
  z-index: 2;

  padding: 1rem;

  cursor: pointer;

  transform: scale(1.1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.5);
  }
}

.remove_btn {
  display: flex;
  gap: 0.2rem;
}
