.review {
  margin: 1rem 0;
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 2;

  img {
    border-radius: 24px;
  }
}

.review_content {
  margin: 1rem 0;

  font-size: 0.875rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.review_footer {
  display: flex;
  justify-content: space-between;
}

.id {
  color: orange;
}
