.grid {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;

  display: grid;
  grid-template-columns: repeat((2, 1fr));
  gap: 1rem;

  @media screen and (min-width: 676px) {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    min-width: unset;
  }
}
