.avatar {
  margin: 1rem 0;
  display: flex;
  gap: 0.5rem;
}

.content_wrapper {
  margin: 1rem 0;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
}

.content {
  text-indent: 1rem;
  white-space: pre-wrap;
  word-break: keep-all;
  line-height: 1.5rem;
  margin: 1rem 0;
}
