.section {
  max-width: 768px;
  margin: 0 auto;
  margin-top: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;

  padding: 0 1rem;
}

.info {
  display: flex;
  justify-content: space-between;
}

.surgical {
  // padding: 1rem 0;
}

.surgical_ul {
  display: flex;
  align-items: center;

  margin: 1rem 0;

  gap: 1rem;
}

.hospital {
  display: flex;
  gap: 1rem;
}

.hospital_img {
  flex: 1;
}

.hospital_info {
  flex: 1;
  text-align: right;

  p {
    padding: 1rem;
  }
}

.hospital_link {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
