// button
@mixin button-color($color) {
  border: 1px solid $color;
  color: $color;

  &:focus,
  &:hover {
    background-color: $color;
    color: $white;
    outline: 0;
  }

  &:active,
  &:focus-visible {
    background-color: $color;
    color: $white;
  }
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1.5rem;
}
