// button
@mixin button-color($color) {
  border: 1px solid $color;
  color: $color;

  &:focus,
  &:hover {
    background-color: $color;
    color: $white;
    outline: 0;
  }

  &:active,
  &:focus-visible {
    background-color: $color;
    color: $white;
  }
}

// box-shadow
@mixin box {
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 20px 0 rgba(0, 0, 0, 0.06);
}

// media-query
@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) and (max-width: ($laptop - 1px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: ($tablet - 1px)) {
    @content;
  }
}

@mixin noLaptop {
  @media (max-width: ($laptop - 1px)) {
    @content;
  }
}

@include laptop {
  .container {
    max-width: calc($laptop - 1rem);
    margin: 0 auto;
  }
}

@include tablet {
  .container {
    margin: 0 2rem;
  }
}

@include mobile {
  .container {
    margin: 0 0.5rem;
  }
}
