// color
$red: #e74c3c;
$red-100: #ff7272;
$red-200: #8a0b0b;
$red-300: #e91600;

$green: #2ecc71;
$green-100: #059a44;

$green-light: #b0d840;

$sky-blue: #69c8f2;

$blue: #3498db;
$blue-100: #3c83eb;

$yellow: #fbc400;

$purple: #8f8ffe;

$turquoise: #1abc9c;

$kakao: #fedd35;
$naver: #1ec800;
$apple: #111;

$white: #fff;
$white-100: #fbfbfb;
$white-200: #eee;
$white-300: #ddd;
$white-400: #999;

$black: #000;
$black-100: #7676;
$black-200: #2d3748;
$black-300: #525f78;

$gray: #aaa;
$gray-100: #eff3fa;
$gray-200: #e3edfe;
$gray-300: #e8e8e8;
$gray-400: #8e8e8e;
$gray-500: #42444e;

// media query
$laptop: 1024px;
$tablet: 768px;
$mobile: 360px;

// constants
$sidebar_width: 12rem;
