.main {
  display: inline-flex;
  width: 100%;

  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  // height: 100vh;

  @media screen and (min-width: 676px) {
    width: 50%;
  }
}

.title {
  margin-block: 3rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.form {
  width: 100%;
}

.btn {
  margin-top: 2rem;
  width: 100%;
}

.rollback {
  cursor: pointer;

  margin: 2rem 0;

  color: $gray-400;

  font-weight: 200;

  text-align: center;

  justify-content: center;
}

.input_field {
  width: 100%;
  margin: 0.5rem 0;
}
