.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.open {
  display: flex;
  flex-direction: column;

  background-color: #fff;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 80%;
  max-height: 80%;
  // aspect-ratio: 1;
  text-align: center;

  margin: 0 24px;
}

.alert {
  aspect-ratio: unset;
  width: 300px;
}
